/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 767px) {
    /* Styles for small screens */
    body {
        font-size: 14px;
    }

    .header 
    .offer 
    .our-team 
    .motivation 
    .blog-news
    footer {
        width: 100%;
        padding: 10px;
    }

    .img
    img {
        max-width: 100%;
        height: auto;
    }
}

/* Tablets ----------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for medium screens */
    body {
        font-size: 16px;
    }
    
    .header 
    .offer 
    .our-team 
    .motivation 
    .blog-news
    footer  {
        width: 90%;
        padding: 20px;
    }

    .img
    img {
        max-width: 100%;
        height: auto;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 992px) {
    /* Styles for large screens */
    body {
        font-size: 18px;
    }

    .header 
    .offer 
    .our-team 
    .motivation 
    .blog-news
    footer  {
        width: 80%;
        margin: 0 auto;
        padding: 30px;
    }

    .img 
    img {
        max-width: 100%;
        height: auto;
    }
}
